@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background: #ffffff;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    box-shadow: none !important;
    border: none !important;
  }
}
